* {
    box-sizing: border-box;
}

body,
html {
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    overflow: auto;
    background-image: url("./background.jpeg");
}

ol {
    padding: 0;
}

li {
    margin-top: 10px;
    margin-left: 20px;
    text-align: left;
}

#root {
    height: 100%;
    width: 100%;
}

.square {
    overflow: auto;
    height: 11em;
    width: 11em;
    margin: 0 3px;
}

.glowing,
.square {
    background-color: #fff
}

.glowing {
    border: 2px solid green;
    box-shadow: 0 5px 15px 0 #0ff
}

.board {
    width: 70%;
    text-align: center;
    display: inline-block;
    row-gap: 3px;
}

.main-div {
    text-align: center;
    padding-top: 2px;
    width: 100%;
}

.left-panel,
.right-panel {
    width: 15%;
}

.left-panel {
    float: left;
}

.right-panel {
    float: right;
}

.text-div {
    padding: 20px;
    margin: 2em auto;
    background-color: #34a9b6;
    color: white;
    min-width: 90%;
    max-width: 90%;
    max-height: 62vh;
    overflow: auto;
    border-radius: 1ex;
    text-align: justify;
}

.text {
    max-width: 100%;
    min-width: 100%;
    overflow: scroll;
}

.row-number-cell {
    color: rgb(31, 82, 105);
    font-weight: 900;
    font-size: 3ex;
}

.first-row {
    width: 100%;
}

.column-number-cell {
    width: 10ex;
    display: inline-block;
    color: rgb(31, 82, 105);
    font-weight: 900;
    font-size: 2em;
    text-align: center;
}

.algorithm-box {
    border-radius: 1ex;
    margin: 1em auto;
    padding-top: 10px;
    background-color: #3a889b;
    color: white;
    height: auto;
    min-width: 90%;
    max-width: 90%;
}

fieldset {
    border: 0;
}

.algorithm-button {
    margin-top: 1ex;
    padding: 5px;
}

.algorithm-button:hover {
    background-color: rgb(76, 130, 143);
    border-color: rgb(76, 130, 143);
    border-radius: 5px;
    color: white;
}

#back-img:hover {
    transform: scale(1.1);
}

.who-move {
    width: 80%;
    margin: auto;
    background-color: rgb(12, 45, 53);
    border-radius: 1ex;
    display: block;
    color: yellow;
    font-size: x-large;
}