body,
html {
    margin: 0;
    height: 100%;
    width: 100%
}

body {
    color: navy;
    text-align: center;
    background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fthumbs.dreamstime.com%2Fz%2Fseamless-pattern-clouds-vector-eps-illustration-35696033.jpg");
}

.menu {
    padding: 2ex 10ex 10ex;
    display: inline-block;
    margin: 0 auto;
    background-color: bisque;
    list-style: none
}

.menu li {
    margin: 5ex;
    font-size: 3ex
}

.whole-page {
    text-align: center
}

.header {
    display: block;
    font-size: 4em;
    margin: 1em auto
}

.menu-header {
    font-size: 5ex;
    font-weight: 400
}

a {
    text-decoration: none;
    color: navy;
    color: #000
}

a:hover {
    color: #058d0c
}