body,
html {
    width: 100%;
    height: 100%;
    margin: 0;
    background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fthumbs.dreamstime.com%2Fz%2Fseamless-pattern-clouds-vector-eps-illustration-35696033.jpg");
}

#root {
    height: 80%
}

.square {
    overflow: auto;
    height: 11em;
    width: 11em;
    margin: 0 1ex
}

.glowing,
.square {
    background-color: #fff
}

.glowing {
    border: 2px solid green;
    box-shadow: 0 5px 15px 0 #0ff
}

.board-row {
    margin-bottom: 1ex;
}

.board {
    text-align: center;
    padding-top: 3ex;
}