html, body {
    margin: 0;
    height: 100%;
    width: 100%;
}

body {
    text-align: center;
}

.menu {
    padding: 10ex;
    padding-top: 2ex;
    display: inline-block;
    margin: 0 auto 0 auto;
    background-color: bisque;
    list-style: none;
}

.menu li {
    margin:5ex;
    font-size: 3ex;
}

.whole-page {
    text-align: center;
}

.header {
    display: block;
    font-size: 4em;
    margin: 1em auto;
}

.menu-header {
    font-size: 5ex;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: rgb(5, 141, 12);
}